*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:root{
    --primary-color: #7c7c7c;
    --dark-color: #000;
    --background-color: #f1f1f1;
    --contant-radius: 10px;
}
html,body{
    height: 100%;
    width: 100%;
}
.dark-mode{
    --primary-color: #f1f1f1;
    --dark-color: #7c7c7c;
    --background-color: #000;
}
#icon{
    position: absolute;
    top: 27%;
    right: 9%;
    width: 40px;
    cursor: pointer;
}
main{
    position: relative;
    overflow: hidden;
}
/* nav section start */

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    width: 100%;
    position: fixed;
    z-index: 99;
    padding: 0px 30px;
    
}
#nav h1 b{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    -webkit-text-stroke: 1.2px var(--dark-color);
    color: transparent;
    font-weight: 700;
}
#nav h1{
    color: var(--dark-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}
#nav a{
    position: absolute;
    top: 30%;
    right: 9%;
    color: var(--dark-color);
    font-size: 35px;
    /* border: 1px solid var(--dark-color);
    border-radius: 50%;
    padding: 0px 10px; */
}
#nav button{
    color: var(--background-color);
    padding: 10px 20px;
    border-radius: 50px;
    background: var(--dark-color);
    border: none;
}

/* nav section end */

/* page section start */

#page{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
}
canvas{
    position: relative;
    z-index: 9;
    /* left: 20%; */
    max-width: 100vw;
    max-height: 100vh;
}
#loop{
    display: flex;
    position: absolute;
    top: 30%;
    height: 25%;
    width: 100%;
    font-size: 100px;
    white-space: nowrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#loop h1{
    font-weight: 400;
    color: var(--dark-color);
    animation-name: anime;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#loop span{
    -webkit-text-stroke: 1.2px var(--dark-color);
    color: transparent;
    font-weight: 700;
}
@keyframes anime{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}

#page h2{
    text-transform: uppercase;
    position: absolute;
    top: 55%;
    left: 5%;
    color: var(--primary-color);
    font-weight: 400;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#page h3{
    text-transform: uppercase;
    position: absolute;
    top: 65%;
    left: 25%;
    color: var(--primary-color);
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* page section end */

/* page 1 section start */

#page1{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
}
#page1 .right-time{
    text-transform: uppercase;
    position: absolute;
    top: 30%;
    left: 10%;
}
#page1 .right-time h3{
    text-transform: uppercase;
    color: var(--primary-color);
}
#page1 .right-time h1{
    color: var(--dark-color);
    line-height: 1.2;
    font-size: 50px;
}
#page1 .left-time{
    text-transform: uppercase;
    position: absolute;
    top: 40%;
    right: 10%;
    text-align: end;
}
#page1 .left-time h3{
    text-transform: uppercase;
    color: var(--primary-color);
}
#page1 .left-time h1{
    color: var(--dark-color);
    line-height: 1.2;
    font-size: 50px;
}

/* page 1 section end */

/* page 2 section start */

#page2{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
}
#page2 .text1{
    text-transform: uppercase;
    position: absolute;
    top: 30%;
    left: 10%;
}
#page2 .text1 h3{
    text-transform: uppercase;
    color: var(--primary-color);
}
#page2 .text1 h1{
    line-height: 1.2;
    font-size: 70px;
}
#page2 .text2{
    text-transform: uppercase;
    position: absolute;
    top: 40%;
    right: 10%;
    text-align: end;
}
#page2 .text2 p{
    text-transform: uppercase;
    color: var(--primary-color);
    font-weight: 400;
}

/* page 2 section end */

/* page 3 section start */

#page3{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
}

#page3 .text1{
    text-transform: uppercase;
    position: absolute;
    top: 30%;
    left: 10%;;
    text-align: start;
}
#page3 .text1 p{
    text-transform: uppercase;
    color: var(--primary-color);
}

#page3 .text2{
    text-transform: uppercase;
    position: absolute;
    top: 40%;
    right: 10%;
    text-align: end;
}
#page3 .text2 h3{
    text-transform: uppercase;
    color: var(--primary-color);
}
#page3 .text2 h1{
    color: var(--dark-color);
    line-height: 1.2;
    font-size: 70px;
}

/* page 3 section end */


